<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day13_Inheritance, Override, Polymorphism, 실습(항공사)/src/com/kh/inheritanceQuiz/run/Run.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.kh.inheritanceQuiz.run.Run"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day13_Inheritance, Override, Polymorphism, 실습(항공사)"/>
</launchConfiguration>
